#sudoku-tbody > tr > td >input{
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;

}

#sudoku-tbody > tr >  td:nth-child(3n){
    border-right:solid ;
  }
  #sudoku-tbody > tr >  td:first-child {
    border-left:solid ;
  }
  #sudoku-tbody > tr:nth-child(3n) >td{
    border-bottom:  solid ;
  }
   #sudoku-tbody > tr:first-child >td{
    border-top:  solid ;
  }